.contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.treeBox {
    width: 420px;
    height: 560px;
    flex-shrink: 0;
}

.textBox {
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topTitle {
    font-size: 60px;
    font-weight: bolder;
    line-height: 1.2;
}

.subtitle {
    font-size: 12px;
    margin-top: 20px;
    line-height: 1.6;
}

